<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Samsung Health 권한 -->
    <uses-permission android:name="com.samsung.health.permission.ACCESS_HEALTH_DATA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamTraker"
        tools:targetApi="31">

        <meta-data
            android:name="com.samsung.health.app_id"
            android:value="kr.co.example.dreamtraker" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MusicActivity" />
        <activity android:name=".SleepTimerActivity" />
        <activity android:name=".SleepHistoryActivity" />
        <activity android:name=".SleepRecordListActivity"/>
        <activity android:name=".MainActivity" android:exported="true" />

    </application>

</manifest>
